/**************************/
/* CSS for BODY and HTML. */
/**************************/

body, html {
	margin: 0;
	padding: 0;

	font-family: "Verdana", sans-serif;
	color: black;
}

/***********************/
/* CSS for the NAVBAR. */
/***********************/

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	padding: 0% 0%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	background-color: white;
	text-align: center;
}

nav a {
	display: inline-block;
	width: 20%;

	padding: 1.5% 0%;

	text-decoration: none;
	background-color: white;
	color: #2196F3;
	font-weight: 600;

	transition: all 0.2s;
}

nav a:hover {
	background-color: #2196F3;
	color: white;
}

/************************************/
/* CSS for the MANAGE-COMPANY-FORM. */
/************************************/

form {
	display: block;
	width: 100%;

	text-align: center;
	background-color: white;
}

.manage-company-form {
	width: 70%;

	margin: 7% auto 4% auto;
	padding: 2% 0%;

	border: 2px solid #2196f3;
	background-color: white;
	color: #2196f3;
}

h2 {
	display: block;
	margin: 0% 0% 1.5% 0%;
	width: 100%;
	
	text-align: center;
}

input {
	display: inline-block;
	width: 22%;

	margin: 0.5%;
	padding: 0.5%;

	border: 2px solid #2196f3;
	font-size: 105%;
	font-weight: 600;
	color: #2196f3
}

button {
	display: inline-block;
	width: 16.3%;

	margin: 0.5%;
	padding: 0.5%;

	border: none;
	border: 2px solid #2196f3;
	
	background-color: #2196f3;
	color: white;
	font-size: 105%;
	font-weight: 600;

	cursor: pointer;
	transition: all 0.2s;
}

/********************************/
/* CSS for the COMPANIES-LIST. */
/********************************/

.companies-list {
	display: block;
	width: 100%;

	margin: 2% 0%;
}

.company {
	display: block;
	width: 100%;

	margin: 0% auto;
	padding: 0;
}

.company p {
	display: inline-block;
	width: 71%;

	margin: 0;

	text-align: right;
}

.company-form {
	display: inline-block;
	width: 13.9%;

	background-color: transparent;

	text-align: left;
}

.company-form button {
	display: inline-block;
	margin: 0% 0.5%;
	padding: 4.5% 0%;
	width: 98%;

	border: none;
}

.cell-value {
	display: inline-block;
	width: 12%;

	padding: 1%;
	margin: 0;
	border: 2px solid white;

	background-color: white;
	text-align: center;
}

.cell-value-bg {
	width: 19%;
}

.cell-value-bg-bg {
	width: 40%;
}

.alternative-cl {
	color: white;
	background-color: #2196f3;
}

.orange-bg {
	color: white;
	font-weight: 600;
	background-color: orange;
}

.red-bg {
	background-color: red;
}

.black-bg {
	background-color: black;
}

.form-header {
	display: inline-block;
	width: 26%;

	padding: 0.74%;
}
