body, html {
	margin: 0;
	padding: 0;

	font-family: "Verdana", sans-serif;
	color: black;
}

form {
	display: block;
	width: 100%;

	text-align: center;
	background-color: white;
}

input {
	width: 15%;

	margin: 0% 1%;
	padding: 0.5%;

	font-size: 105%;
}

select {
	width: 15%;
}

h2 {
	display: block;
	margin: 3% 0% 1.5% 0%;
	width: 100%;
	
	text-align: center;
}

button {
	width: 16.3%;

	margin: 0% 1%;
	padding: 0.5%;

	font-size: 105%;
}

.candidate-list {
	display: block;
	width: 100%;

	margin: 5% 0%;
}

.candidate {
	display: block;
	width: 90%;

	margin: 0 auto;

	text-align: center;
}

.candidate p {
	display: block;
	width: 100%;

	margin: 0.5% 0%;
	
	text-align: center;
}

.candidate-form {
	display: inline-block;
	width: 15%;
}

.candidate-form input {
	margin: 1% 0%;
	width: 40%;
}

.candidate-form button {
	padding: 4%;
	width: 100%;
}

.cell-value {
	display: inline-block;
	width: 10%;
	border: 1px solid black;
	padding: 1%;
}

.cell-value-bg {
	width: 20%;
}
