/**************************/
/* CSS for BODY and HTML. */
/**************************/

body, html {
	margin: 0;
	padding: 0;

	font-family: "Verdana", sans-serif;
	color: black;
}

/***********************/
/* CSS for the NAVBAR. */
/***********************/

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	padding: 0% 0%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	background-color: white;
	text-align: center;
}

nav a {
	display: inline-block;
	width: 25%;

	padding: 1.5% 0%;

	text-decoration: none;
	background-color: white;
	color: #2196F3;
	font-weight: 600;

	transition: all 0.2s;
}

nav a:hover {
	background-color: #2196F3;
	color: white;
}

/****************************/
/* CSS for the SEARCH-FORM. */
/****************************/

form {
	display: block;
	width: 100%;

	text-align: center;
	background-color: white;
}

.search-form {
	width: 70%;

	margin: 7% auto 4% auto;
	padding: 2% 0%;

	border: 2px solid #2196f3;
	background-color: white;
	color: #2196f3;
}

select {
	width: 26.5%;
	margin: 1%;
}

h2 {
	display: block;
	margin: 8% 0% 2.5% 0%;
	width: 100%;
	
	color: #2196f3;
	text-align: center;
}

button {
	width: 16.3%;

	margin: 1%;
	padding: 0.5%;

	border: none;
	border: 2px solid #2196f3;
	
	background-color: white;
	color: #2196f3;
	font-size: 105%;
	font-weight: 600;

	cursor: pointer;
	transition: all 0.2s;
}

button:hover {
	background-color: #2196f3;
	color: white;
}

/********************************/
/* CSS for the CANDIDATES-LIST. */
/********************************/

.candidate-list {
	display: block;
	width: 100%;

	margin: 3% 0% 2% 0%;
}

.candidate {
	display: block;
	width: 100%;

	margin: 0.5% auto;
}

.candidate p {
	display: inline-block;
	width: 70%;

	margin: 0;
}

.candidate-form {
	display: inline-block;
	width: 14.5%;

	background-color: transparent;
}

.candidate-form button {
	display: inline-block;
	padding: 2.7% 0%;
	width: 95%;
}

.place button {
	border: 2px solid #00FF00;
	background-color: #00FF00;
	color: white;
}

.reject button {
	border: 2px solid red;
	background-color: red;
	color: white;
}

.cell-value {
	display: inline-block;
	width: 19%;

	padding: 1%;

	background-color: white;
	text-align: center;
}

.cell-value-bg {
	width: 27%;
}

.cell-value-bg-bg {
	width: 40%;
}

.alternative-cl {
	color: white;
	background-color: #2196f3;
}
